@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Nunito;
        src: url('fonts/Nunito/Nunito-VariableFont_wght.ttf') format("truetype");
        font-weight: 400;
    }
}